<app-header [displayBackArrow]="false"></app-header>

<ion-content>
  <ion-row>
    <ion-col size="12" size-md>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Basic: Free</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <!-- <ion-img src="https://via.placeholder.com/150x100"></ion-img> -->
          <ul>
            <li>Access to Realtime data</li>
            <li>Up to 1 hour of historical data</li>
            <li>Access to the last 10 global failures</li>
          </ul>
        </ion-card-content>
      </ion-card>
    </ion-col>


    <ion-col size="12" size-md>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Premium</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <!-- <ion-img src="https://via.placeholder.com/150x100"></ion-img> -->
          <ul>
            <li>Access to StatusAPI Failures Streaming API</li>
            <li>Includes Basic features</li>
          </ul>
        </ion-card-content>
      </ion-card>
    </ion-col>



    <ion-col size="12" size-md>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Enterprise</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <!-- <ion-img src="https://via.placeholder.com/150x100"></ion-img> -->
          <ul>
            <li>Access to historical StatusAPI data</li>
            <li>Submit requests to monitor other APIs</li>
            <li>No API rate limiting</li>
            <li>Includes Premium features</li>
          </ul>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>