<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button *ngIf="displayBackArrow" defaultHref="search">
      </ion-back-button>
      <ion-button fill="clear" routerLink="/">
        <ion-title>StatusAPI</ion-title>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button *ngIf="!(isDesktop | async)"></ion-menu-button>
      <div *ngIf="isDesktop | async" class="ion-text-right">
        <span *ngFor="let route of routes">
          <ion-button
            *ngIf="route.external"
            fill="clear"
            (click)="navigateTo(route)"
          >
          &#124;&nbsp; {{ route.name }}
          </ion-button>
          <ion-button
            *ngIf="!route.external"
            fill="clear"
            routerLink="{{ route.route }}"
          >
          &#124;&nbsp; {{ route.name }}
          </ion-button>
        </span>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
