<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button *ngIf="displayBackArrow" defaultHref="search">
      </ion-back-button>
      <ion-button fill="clear" routerLink="/">
        StatusAPI
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button *ngIf="!(isDesktop | async)"></ion-menu-button>
      <div *ngIf="isDesktop | async" class="ion-text-right">
        <ion-button fill="clear" routerLink="/">
          Pricing
        </ion-button>
        <ion-button fill="clear" routerLink="/">
          Docs
        </ion-button>
        <ion-button fill="clear" routerLink="/">
          FAQ
        </ion-button>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>