<ion-header>
  <ion-toolbar>
    <ion-title slot="start">
      <h3>Contact Us</h3>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <form [formGroup]="contactForm">
      <ion-grid>
        <ion-row>
          <ion-col>
            <div>
              <ion-item>
                <ion-input
                  type="text"
                  placeholder="Name"
                  formControlName="name"
                >
                </ion-input>
                <div
                  *ngIf="!contactForm.controls.name.valid  && contactForm.controls.name.touched"
                >
                  <p class="text-danger">Please enter a name.</p>
                </div>
              </ion-item>
              <ion-item>
                <ion-input
                  type="email"
                  placeholder="your@email.com"
                  formControlName="email"
                >
                </ion-input>
                <div
                  *ngIf="!contactForm.controls.email.valid && contactForm.controls.email.touched"
                >
                  <p class="text-danger">Please enter a valid email.</p>
                </div>
              </ion-item>
              <ion-item>
                <ion-textarea
                  auto-grow="true"
                  placeholder="How can we help you?"
                  formControlName="message"
                >
                </ion-textarea>
                <div
                  *ngIf="!contactForm.controls.message.valid && contactForm.controls.message.touched"
                >
                  <p class="text-danger">Please enter a message.</p>
                </div>
              </ion-item>
            </div>

            <div class="text-center">
              <re-captcha
                class="g-recaptcha"
                (resolved)="captchaResolved($event)"
                siteKey="{{siteKey}}"
              ></re-captcha>
            </div>

            <div>
              <ion-button
                size="large"
                type="submit"
                [disabled]="!contactForm.valid || !captchaPassed"
                expand="block"
                (click)="submitForm()"
              >
                Submit
              </ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-content>
</ion-content>
