<app-header [displayBackArrow]="false"></app-header>

<ion-content [fullscreen]="true">
  <!-- <ion-img src="https://via.placeholder.com/1000x300"></ion-img> -->
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md>

        <ion-card>
          <ion-card-header>
            <ion-card-title>Trusted data</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <!-- <ion-img src="https://via.placeholder.com/150x100"></ion-img> -->
            <p>Status API data is collected outside the API's internal
              network,
              providing
              real-world metrics to drive your incident triaging or API
              decisions.
            </p>
            <br />
            <p>All Status API reports by crafted hand, using official open
              source
              clients.
            </p>
          </ion-card-content>
        </ion-card>

        <!-- <ion-card>
          <ion-card-content>
            This is content, without any paragraph or header tags,
            within an ion-card-content element.
          </ion-card-content>
        </ion-card> -->

      </ion-col>
      <ion-col size="12" size-md>

        <ion-card>
          <ion-card-header>
            <ion-card-title>Granular API Health</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <!-- <ion-img src="https://via.placeholder.com/150x100"></ion-img> -->
            <p>No more looking at high level, vague API statuses.</p>
            <br />
            <p>Status API provides granular data, down to the API service, and
              region, including latency metrics.</p>
            <br />
          </ion-card-content>
        </ion-card>

        <!-- <ion-card>
          <ion-card-content>
            This is content, without any paragraph or header tags,
            within an ion-card-content element.
          </ion-card-content>
        </ion-card> -->

      </ion-col>
      <ion-col size="12" size-md>


        <ion-card>
          <ion-card-header>
            <ion-card-title>Realtime data</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <!-- <ion-img src="https://via.placeholder.com/150x100"></ion-img> -->
            <p>
              Are you having API issues right now? Check out our minutely
              real-time data, to triage your issues.
            </p>
            <br />
            <p>
              Status API reports show the last 60 minutes of each granular
              API.
            </p>
          </ion-card-content>
        </ion-card>

        <!-- <ion-card>
          <ion-card-content>
            This is content, without any paragraph or header tags,
            within an ion-card-content element.
          </ion-card-content>
        </ion-card> -->

      </ion-col>
    </ion-row>
  </ion-grid>

  <div style="text-align: center;">
    <h2>Notable APIs</h2>
  </div>
  <div style="text-align: center;">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button color="dark" [routerLink]="['/search']"
            [queryParams]="{q: 'aws'}" expand="block">
            Amazon Web Services
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="dark" [routerLink]="['/search']"
            [queryParams]="{q: 'dropbox'}" expand="block">
            Dropbox
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="dark" [routerLink]="['/search']"
            [queryParams]="{q: 'stripe'}" expand="block">
            Stripe
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div>
    <br />
    <br />

    <ion-grid>
      <ion-row>
        <ion-col size="2"></ion-col>
        <ion-col size="8">
          <ion-button expand="block" [routerLink]="['/search']">
            <ion-icon slot="start" name="search"></ion-icon>
            Search for more APIs
          </ion-button>
        </ion-col>
        <ion-col size="2"></ion-col>
      </ion-row>
    </ion-grid>

    <br />

    <ion-grid>
      <ion-row *ngIf="latestFailures.length > 0">
        <ion-col>
          <h2 class="ion-text-center">Recent API Failures</h2>

          <ion-list inset="false" *ngFor="let failure of latestFailures">

            <ion-grid class="ion-text-left">
              <ion-row>
                <ion-col size-sm="3" size-xs="9">
                  <ion-datetime displayFormat="YYYY-MM-DD HH:mm UTC"
                    readonly="true" value="{{ failure.start_date }}"
                    style="padding-top: 0px; padding-left: 0px;">
                  </ion-datetime>
                </ion-col>

                <ion-col size-sm="1" size-xs="3">
                  <ion-label>
                    {{failure.latency_ms}}ms
                  </ion-label>
                </ion-col>

                <ion-col size-sm="8" size-xs="12">
                  <ion-label>
                    <a [routerLink]="['/reports/', failure.key]">
                      {{failure.key}}
                    </a>
                  </ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>

            <ion-item>
              <ion-item>{{ failure.failure_message }}</ion-item>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>

<app-footer *ngIf="!isProduction"></app-footer>