<ion-app>
  <ion-menu side="end" contentId="main-container">
    <ion-header>
      <ion-toolbar>
        <ion-title>Navigate</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list *ngFor="let route of routes">
        <ion-item>
          <ion-button
            (click)="toggleMenu()"
            fill="clear"
            routerLink="{{ route.route }}"
          >
            {{ route.name }}
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-container"></ion-router-outlet>
</ion-app>
